<!DOCTYPE html>
<html>
<head><title>Sample View</title></head>
<body>
<h1>@ViewBag.Message</h1>
<p>
   @using (Html.BeginForm("Seachr","Home",FormMethod.Get,new { @class="good" }  ))
   {
       <input type="text" name="q"/>
       <input type="submit" value="Search"/>              
              
    }
    This is a sample view. It’s not much to look at, 
    but it gets the job done.
</p>
<p>
    This is in a file named <strong>NotIndex.cshtml</strong> within the <strong>~/Views/Sample</strong> directory.
</p>
</body>
</html>
